<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplicacion EdEx{% endblock title %}</title>
    <!-- Tailwind CSS link -->
</head>
<body>
    <div class="flex h-screen bg-gray-200">
        <!-- Sidebar content -->
        <div class="py-4 px-3 bg-gray-800 w-64 min-h-screen">
            <!-- Sidebar items -->
        </div>
        <!-- Main content area -->
        <div class="flex-1 p-10">
            {% block content %}
            <!-- This block will be overridden by child templates -->
            {% endblock content %}
        </div>
    </div>
</body>
</html>
