{% extends "admin/base.html" %}
{% block title %} {{ site_title }} {{ block.super }} {% endblock %}
{% block content_title %}Programas{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label='programa' %}">Programas</a></li>
    <li class="breadcrumb-item active">Editar Programa</li>
</ol>
{% endblock %}

{% block page_actions %}
<div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
<button type="button" class="btn btn-success float-right" ><i class="fa fa-save">&nbsp;&nbsp;</i>Guardar Cambios</button>
</div>
{% endblock %}

{% block extrastyle %}
<style>
    .handle {
        cursor: move;
        margin-right: auto;
    }

    .modal-backdrop {
        z-index: 1040 !important;
    }

.modal .modal-dialog .modal-content .modal-header {
    z-index: 1050 !important;

}

</style>
{% endblock %}

{% block content %}
{{ block.super }}
<!-- Modal Placeholder -->
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Elemento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- The form or content to edit the modulo will go here -->
      </div>
    </div>
  </div>
</div>


<form id="updateForm" method="post" action="{% url 'save_programa' %}">
    {% csrf_token %}
    <!-- Hidden input field for storing IDs of deleted Clases -->
    <input type="hidden" name="deletedClases" id="deletedClases" value="">

    <!-- Existing content -->
    <!-- Add the rest of your form fields here -->

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<div class="container mt-4">
    <div id="modulos-container" class="list-group" data-group="modulos">
            {% for modulo in programa.modulos.all %}
        <div class="list-group-item list-group-item-primary" data-modulo-id="{{ modulo.id }}">
            <div class="d-flex justify-content-start align-items-center">
                <div class="handle mr-3"><i class="fa fa-arrows-alt"></i></div>
                <div class="flex-grow-1">
                    <strong>Modulo:</strong> <span class="modulo-name">{{ modulo.nombre }}</span>
                </div>
                <!---<a href="{% url 'edit_modulo' modulo.id %}">--->
                <button type="button" class="edit-modulo btn btn-outline-secondary btn-sm ml-2" data-modulo-id="{{ modulo.id }}" data-bs-toggle="modal" data-bs-target="#editModuloModal">
                    <i class="fa fa-edit"></i>
                </button>
                <!---</a>--->
                <button type="button" class="delete-modulo btn btn-outline-danger btn-sm ml-2" data-modulo-id="{{ modulo.id }}">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
            <div class="list-group mt-2" data-group="sesiones">
                {% for sesion in modulo.sesiones.all %}
                <div class="list-group-item list-group-item-info" data-sesion-id="{{ sesion.id }}">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="handle mr-3"><i class="fa fa-arrows-alt"></i></div>
                        <div class="flex-grow-1">
                            <strong>Sesion:</strong> <span class="sesion-name">{{ sesion.nombre }}</span>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <strong>Tipo:</strong> <span class="tipo-name">{{ sesion.get_tipo_display }}</span>
                        </div>
                        <button type="button" class="edit-sesion btn btn-outline-secondary btn-sm ml-2" data-sesion-id="{{ sesion.id }}">
                        <i class="fa fa-edit"></i>
                        </button>

                        <button type="button" class="delete-sesion btn btn-outline-danger btn-sm ml-2" data-sesion-id="{{ sesion.id }}">
                            <i class="fa fa-trash"></i>
                        </button>

                    </div>
                    <div class="list-group mt-2" data-group="clases">
                        {% for clase in sesion.clases.all %}
                        <div class="list-group-item" data-clase-id="{{ clase.id }}">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="handle mr-3"><i class="fa fa-arrows-alt"></i></div>
                                <div class="flex-grow-1">
                                    <strong>Clase: </strong>{{ clase.get_ubicacion_display }} - {{ clase.fecha_de_clase }} from {{ clase.hora_inicio }} to {{ clase.hora_fin }}
                                </div>
                                <button type="button" class="delete-modulo btn btn-outline-secondary btn-sm ml-2" data-modulo-id="{{ modulo.id }}">
                                <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="delete-clase btn btn-outline-danger btn-sm ml-2" data-clase-id="{{ clase.id }}">
                                    <i class="fa fa-trash"></i>
                                </button>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block extrajs %}
<script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script>
// Include a script block to define tipo descriptions

$(document).ready(function() {
    $('.edit-modulo').click(function() {
        var moduloId = $(this).data('modulo-id');
        var baseUrl = window.location.protocol + '//' + window.location.host; // Dynamically get the base URL
        var targetUrl = baseUrl + '/programa/programa/modulo/' + moduloId + '/edit'; // Construct the target URL
        $('#editModal .save-button').data('modulo-id', moduloId);
        $.ajax({
            url: targetUrl,
            success: function(data) {
                $('#editModal .modal-body').html(data);
                //$('#editModuloModal').modal('show');
                $('#editModal').appendTo("body").modal('show');
            }
        });
    });

    $('.edit-sesion').click(function() {
        var sesionId = $(this).data('sesion-id');
        var baseUrl = window.location.protocol + '//' + window.location.host; // Dynamically get the base URL
        var targetUrl = baseUrl + '/programa/programa/sesion/' + sesionId + '/edit'; // Construct the target URL
        $('#editModal .save-button').data('sesion-id', sesionId);
        $.ajax({
            url: targetUrl,
            success: function(data) {
                $('#editModal .modal-body').html(data);
                $('#editModal').appendTo("body").modal('show');
            }
        });
    });
});



document.addEventListener('DOMContentLoaded', function() {

    $('#editModal').on('submit', 'form', function(e) {
        e.preventDefault(); // Prevent the form from submitting through standard HTTP request

        var form = $(this);
        var formData = {}; // Object to store your form data
        form.find('input, select, textarea').each(function() {
            var name = $(this).attr('name');
            var value = $(this).val();
            formData[name] = value; // Add each form field to the formData object
        });

        switch (form.data('model-name')) {
            case 'modulo':
                var moduloId = form.data('modulo-id');
                var modulosData = sessionStorage.getItem('modulosData') ? JSON.parse(sessionStorage.getItem('modulosData')) : {};
                modulosData[moduloId] = formData;
                sessionStorage.setItem('modulosData', JSON.stringify(modulosData));
                // Update data brought from the form that is relevant to this template
                // Update Name
                var newName = modulosData[moduloId] && modulosData[moduloId]['nombre'] ? modulosData[moduloId]['nombre'] : 'NameNotFound';
                $(`.list-group-item[data-modulo-id="${moduloId}"] .modulo-name`).text(newName);
                break;

            case 'sesion':

                var sesionId = form.data('sesion-id');
                var sesionesData = sessionStorage.getItem('sesionesData') ? JSON.parse(sessionStorage.getItem('sesionesData')) : {};
                sesionesData[sesionId] = formData;
                sessionStorage.setItem('sesionesData', JSON.stringify(sesionesData));
                // Update data brought from the form that is relevant to this template
                // Update Name
                var newName = sesionesData[sesionId] && sesionesData[sesionId]['nombre'] ? sesionesData[sesionId]['nombre'] : 'NameNotFound';
                $(`.list-group-item[data-sesion-id="${sesionId}"] .sesion-name`).text(newName);
                // Update Type
                // Since this is a select, we need to manually bring the descriptions
                const tipoDescriptions = {
                  'TI': 'Trabajo Individual',
                  'TA': 'Trabajo Asincronico',
                };
                var newType = sesionesData[sesionId] && sesionesData[sesionId]['tipo'] ? tipoDescriptions[sesionesData[sesionId]['tipo']] : 'TipoNotFound';
                $(`.list-group-item[data-sesion-id="${sesionId}"] .tipo-name`).text(newType);
                break;


        }

        // Close the modal
        $('#editModal').modal('hide');

        return false;
    });

    initializeSortable('modulos');
    initializeSortable('sesiones');
    initializeSortable('clases');

    document.querySelectorAll('.delete-clase').forEach(button => {
        button.addEventListener('click', function () {
            const claseId = this.getAttribute('data-clase-id');
            const claseElement = document.querySelector(`.list-group-item[data-clase-id="${claseId}"]`);
            claseElement.style.display = 'none';
            const deletedInput = document.getElementById('deletedClases');
            let deletedIds = deletedInput.value ? deletedInput.value.split(',') : [];
            if (!deletedIds.includes(claseId)) {
                deletedIds.push(claseId);
            }
            deletedInput.value = deletedIds.join(',');

        });
    });
    // Handle deletion of Sesions
    document.querySelectorAll('.delete-sesion').forEach(button => {
        button.addEventListener('click', function () {
            const sesionId = this.getAttribute('data-sesion-id');
            const sesionElement = document.querySelector(`.list-group-item[data-sesion-id="${sesionId}"]`);
            sesionElement.style.display = 'none';
        });
    });

    // Handle deletion of Modulos
    document.querySelectorAll('.delete-modulo').forEach(button => {
        button.addEventListener('click', function () {
            const moduloId = this.getAttribute('data-modulo-id');
            const moduloElement = document.querySelector(`.list-group-item[data-modulo-id="${moduloId}"]`);
            moduloElement.style.display = 'none';
        });
    });

    });

function initializeSortable(groupName) {
    document.querySelectorAll(`[data-group="${groupName}"]`).forEach(function(el) {
        new Sortable(el, {
            group: groupName,
            animation: 150,
            fallbackOnBody: true,
            handle: ".handle",
            swapThreshold: 0.65,
            filter: ".btn-link",
            preventOnFilter: false
        });
    });
}
</script>
{% endblock extrajs %}

