{% extends "admin/base.html" %}

{% block title %} {{ site_title }} {{ block.super }} {% endblock %}

{% block content_title %}Programas{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label='programa' %}">Programas</a></li>
    <li class="breadcrumb-item active">Programas</li>
</ol>
{% endblock %}

{% block page_actions %}
<div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
    <a href="{% url 'add_programa' %}" class="btn btn-success float-right">
        <i class="fa fa-plus-circle">&nbsp;&nbsp;</i>Añadir Programa
    </a>
</div>
{% endblock %}


{% block content %}
{{ block.super }}
<form id="changelist-search" class="form-inline" method="GET">
<div class="form-group pr-3">
    <label for="{{ form.estado.id_for_label }}">Estado</label>
    <select class="form-control search-filter" style="width: 100%;" name="{{ form.estado.name }}">
        <option value="">---------</option>
        {% for choice_value, choice_display in form.estado.field.choices %}
            <option value="{{ choice_value }}" {% if form.estado.value == choice_value %}selected{% endif %}>{{ choice_display }}</option>
        {% endfor %}
    </select>

</div>

<div class="form-group">
    <label for="unidad">Unidad</label>
    <select class="form-control search-filter" style="width: 100%;" name="{{ form.unidad.name }}">
        <option value="">---------</option>
        {% for unidad_value, unidad_display in form.unidad.field.choices %}
            <option value="{{ unidad_value }}" {% if form.unidad.value == unidad_value %}selected{% endif %}>{{ unidad_display }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group mt-4 ml-3" id="search_group">
    <button type="submit" class="btn btn-primary">Buscar</button>
        {% if filters_applied %}
            <a class="ml-2" href="?">Borrar Filtros</a>
        {% endif %}
</div>
</form>


<div class="card w-100">
    <div class="card-body table-responsive p-0">
        <table id="result_list" class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Unidad</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Sección</th>
                <th>Periodo Académico</th>
                <th>CRN</th>
            </tr>
        </thead>
        <tbody>
        {% for programa in programas %}
            <tr>
                <td><a href="{% url 'edit_programa' programa.id %}"><strong>{{ programa.id }}</strong></a></td>
                <td>{{ programa.nombre }}</td>
                <td>{{ programa.get_estado_display }}</td>
                <td>{{ programa.get_unidad_display }}</td>
                <td>{{ programa.fecha_inicio }}</td>
                <td>{{ programa.fecha_fin }}</td>
                <td>{{ programa.seccion }}</td>
                <td>{{ programa.periodo_academico }}</td>
                <td>{{ programa.crn }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td class="border px-4 py-2" colspan="9">No se encontraron programas</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<div id="results-count" style="text-align: center; margin-top: 20px;">
    {{ results_count }} programa{{ results_count|pluralize:"s" }}
</div>
{% endblock %}
